/*
 * Empty Stylesheet file.
 */


    #btnConnect{
        -fx-background-radius: 20;
    }
    
    #btnConnect:hover{
        -fx-background-color: #000000;        
    }
    
    #btnConnect:focused{
        -fx-background-color:#000;
    }
    
    
